<div class="txn-list">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Order #123</mat-card-title>
      <mat-card-subtitle>Kenny</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <p>2 containers</p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Order #124</mat-card-title>
      <mat-card-subtitle>Kenny</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <p>3 containers</p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Order #125</mat-card-title>
      <mat-card-subtitle>Kenny</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <p>1 container</p>
    </mat-card-actions>
  </mat-card>
</div>

<button mat-raised-button (click)="openDialog()">Test Dialog</button>
