<div class="top-section">
  <button [routerLink]="['/merchant', 'qr']" id="qr-button">My QR Code</button>
</div>

<div class="txn-list">
  <mat-card class="txn" *ngFor="let order of recentOrders">
    <mat-card-header>
      <mat-card-title>Order #{{ order.orderId }}</mat-card-title>
      <mat-card-subtitle>{{ order.customerName }}</mat-card-subtitle>
      <mat-card-subtitle>{{ order.timeOfOrder }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <p>{{ order.qty }} {{ order.uom }}</p>
    </mat-card-actions>
  </mat-card>
</div>

<!-- <button mat-raised-button (click)="openDialog()">
  Simulate incoming order
</button> -->
