<div class="login-page-container">
    <div class="form-container" *ngIf="!authState">
        <div style="height: 40px;"></div>
        <mat-card class="card" >
            <mat-card-content>
                <form class="form-input-container" [formGroup]="loginForm" (ngSubmit)="login()">
                    <table>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label for="email">Email</mat-label>
                                    <input id="email" type="email" formControlName="email" matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label for="password">Password</mat-label>
                                    <input id="password" type="password" formControlName="password" matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <div class="button-container">
                        <button type="submit">Login</button>
                        <!-- <button type="button" (click)="goBack()">Back</button> -->
                        <button type="button" [routerLink]="['/signup']">Register</button>
                    </div>
                </form>
                <firebase-ui *ngIf="!authState" (signInSuccessWithAuthResult)="successCallback($event)"
                    (signInFailure)="errorCallback($event)" (uiShown)="uiShownCallback()"></firebase-ui>
            </mat-card-content>
        </mat-card>
    </div>
</div>