<div class="home-container">
  <!-- <div class="top-section">
      <button id="qr-button">My QR Code</button>
      <button id="coin-button" [routerLink]="['/points/history']" >$</button>
  </div> -->
  <app-navbar></app-navbar>
  <div class="card-container">
      <mat-card class="card">
          <mat-card-header class="card-header">
              <!-- <mat-icon mat-card-avatar> restaurant_menu</mat-icon> -->
              <div class="header-section-1">
                  <mat-card-title>
                      Ocean Quality: {{oceanQuality}}%
                  </mat-card-title>
                  <mat-card-subtitle>
                      Use reusable containers to improve your ocean quality!
                  </mat-card-subtitle>
              </div>
              <!-- <div class="header-section-2">
                  <button class="points-history-button" [routerLink]="['/points/history']">$</button>
              </div> -->
          </mat-card-header>
          <mat-card-content>
              <div class="fish-tank">
                  <app-animation></app-animation>
              </div>
              <div class="progress-bar-header">
                  <span>Task Completion Progress:</span>
              </div>
              <!-- Progress Bar -->
              <div class="challenge-cb-container" #challengeContainer>
                  <mat-checkbox *ngFor="let challenge of challenges" [disabled]="true" checked="{{check(challenge)}}" class="checkbox" id="checkbox{{challenge}}">
                  </mat-checkbox>
              </div>
              <div class="progress-bar-container">
                  <mat-progress-bar mode="determinate" value="{{progressValue}}">
                  </mat-progress-bar>
              </div>
          </mat-card-content>
          <mat-card-actions>
              <div class="header-section-2">
                  <button class="camera-button" [routerLink]="['/customer/qrscanner']">
                      <mat-icon mat-card-avatar>camera_alt</mat-icon>
                  </button>
              </div>
          </mat-card-actions>
      </mat-card>
  </div>
</div>