.ocean {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5vh;
}

button {
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  font-family: "Source Code Pro", monospace;
  font-size: medium;
  cursor: pointer;
  border: 3px solid;
  padding: 0.5em 0.7em;
  position: relative;
  user-select: none;
  touch-action: manipulation;
  background-color: var(--primary-light-color);
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

button:hover {
  transform: scale(1.05) rotate(-1deg);
}

.card-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding-top: 5vh;
  margin: 0 10vw;
}

mat-card {
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  border: 3px solid;
  border-radius: 10px;
  background-color: var(--primary-light-color);
}

p,
mat-card-title,
mat-card-subtitle {
    font-family: "Source Code Pro", monospace;
}

mat-card-actions {
    padding: 3vh 0;
    display: flex;
    justify-content: center;
}

.challenge-cb-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ocean-clean {
  background-image: linear-gradient(0deg, #182848, #2980b9);
}

.ocean-not-so-clean {
  background-image: linear-gradient(0deg, #182848, #5a8543);
}

.ocean-dirty {
  background-image: linear-gradient(0deg, #423c07, #b78e5c);
}

.ocean-bubble {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  opacity: 0.2;
  animation: ocean-bubble 15s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes ocean-bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.ocean-bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
}

.ocean-bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.ocean-bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.ocean-bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.2;
}

.ocean-bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.ocean-bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}

.ocean-bubble--7 {
  width: 15px;
  height: 15px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.ocean-bubble--9 {
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
}

.ocean-bubble--10 {
  width: 40px;
  height: 40px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.ocean-bubble--11 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.3;
}

.ocean-bubble--12 {
  width: 25px;
  height: 25px;
  left: 90%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
}

.animal-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.big-fish-1 {
  animation: swim 15s linear infinite, swimv 8s ease infinite alternate;
  position: absolute;
  left: 120%;
  top: 70%;
  padding: 50px;
}

.big-fish-3 {
  animation: swim3 15s 2s linear infinite, swimv 8s 2s ease infinite alternate;
  position: absolute;
  left: -100%;
  top: 10%;
  padding: 80px;
}

@keyframes swim {
  0% {
    left: 110%;
  }
  100% {
    left: -20%;
  }
}

@keyframes swim3 {
  0% {
    left: -20%;
  }
  100% {
    left: 110%;
  }
}

@keyframes swimv {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

#bubble-1 {
  animation: bubble 5s infinite;
  opacity: 0;
  transform: translate(-20px, -50px);
}

#bubble-2 {
  animation: bubble 5s 1s infinite;
  opacity: 0;
  transform: translate(-30px, -40px);
}

#bubble-3 {
  animation: bubble 5s 3s infinite;
  opacity: 0;
  transform: translate(-20px, -30px);
}

@keyframes bubble {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}

#silouhette-fish {
  top: 5em;
}
/* Fish Animation */
#silouhette-fish {
  overflow: visible;
}

@-webkit-keyframes silouhetteFishSwim {
  0% {
    margin-left: -235px;
  }
  90% {
    margin-left: 100%;
  }
  100% {
    margin-left: 105%;
  }
}

@keyframes silouhetteFishSwim {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 105%;
  }
}

.silouhette-fish {
  width: 235px;
  height: 104px;
  margin-left: -235px;
  top: 50vh !important;
  left: -1vw;
  position: absolute;
  animation: silouhetteFishSwim 20s;
  -webkit-animation: silouhetteFishSwim 20s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

svg #silouhette-fish-1,
svg #silouhette-fish-2,
svg #silouhette-fish-3,
svg #silouhette-fish-4,
svg #silouhette-fish-5,
svg #silouhette-fish-6 {
  fill: #528484;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

svg #silouhette-fish-2 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

svg #silouhette-fish-3 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

svg #silouhette-fish-4 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

svg #silouhette-fish-5 {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

svg #silouhette-fish-6 {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

/**/
@-moz-keyframes bounce {
  0%,
  50%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%,
  50%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
