<mat-toolbar class="navbar">
    <mat-toolbar-row>
        <a class="icon home-icon" [routerLink]="['/customer/home']">
            <mat-icon>home</mat-icon>
        </a>
        <span class="toolbar-spacer"></span>
        <a class="icon money-icon" [routerLink]="['/customer/voucher/redemption']">
            <mat-icon>monetization_on</mat-icon>
        </a>
        <span class="toolbar-spacer"></span>
        <a class="icon user-icon" [routerLink]="['/customer/points/history']">
            <mat-icon>person_pin</mat-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>