.navbar {
  background-color: transparent;
  z-index: 100;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

mat-toolbar-row {
  justify-content: space-between;
}

.toolbar-spacer {
  flex: 1 1 auto;
  width: 100%;
}

mat-icon {
  margin: 0;
  /* padding-top: 7px; */
  font-size: 25px;
  color: var(--primary-light-color);
}

mat-icon:hover {
  color: var(--primary-color);
}

