<div class="main-container">
    <app-navbar></app-navbar>
    <div class="transactions-container">
        <div class="top-section">
            <span class="top-section-components">
                <h4>Points</h4>
                <h1>9,200</h1>
            </span>
            <span class="top-section-components">
                <h4>Amount</h4>
                <h1>$30.67</h1>
            </span>
        </div>
        <div class="bottom-section">
            <mat-card class="card">
                <mat-card-header class="card-header">
                    <!-- <mat-icon mat-card-avatar> restaurant_menu</mat-icon> -->
                    <mat-card-title>Transaction History</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="transaction" *ngFor="let hist of pointsHistoryTestInput">
                        <span>{{hist.transaction}}</span>
                        <span>{{hist.date}}</span>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button [routerLink]="['/customer/voucher/redemption']">Redeem Points</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>