.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--card-header-bg-color);
  padding-bottom: 2vh;
}

.transactions-container {
  border: solid 3px black;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  border-radius: 10px;
  width: 90vw;
  max-width: 400px;
  height: auto;
  align-self: center;
  overflow: auto;
}

.top-section-components {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Source Code Pro", monospace;
  color: var(--primary-light-color);
}

.bottom-section {
  border-radius: 0%;
}

mat-card {
  border-radius: 0;
}

mat-card-header {
  justify-content: center;
}

mat-card-title {
  padding-bottom: 16px;
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
}

mat-card-content {
  /* padding-top: 2vh;
    padding-left: 2vw; */
  padding: 0;
  border-top: solid 1px black;
}

.vouchers {
  border-bottom: solid 1px black;
  padding: 8px;
  font-size: 15px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h6,
h5,
h4 {
  margin: 0;
}

h5 {
    font-size: large;
}

.voucher-information {
  width: 45vw;
}

.voucher-qty-buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
}

.voucher-qty {
    padding-right: 2vw;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  border-radius: 5px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  font-family: "Source Code Pro", monospace;
  font-size: medium;
  cursor: pointer;
  border: 2px solid;
  /* padding: 0.5em 0.7em; */
  position: relative;
  user-select: none;
  touch-action: manipulation;
  background-color: var(--primary-light-color);
  margin-bottom: 1vh;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

button:hover {
  transform: scale(1.05) rotate(-1deg);
}
