<div class="signup-page-container">
    <div class="form-container">
        <mat-card class="card">
            <mat-card-content>
                <form class="form-input-container" [formGroup]="signUpForm" (ngSubmit)="signUp()" *ngIf="!authState">
                    <table>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label for="email">Email</mat-label>
                                    <input id="email" type="email" formControlName="email" matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td> 
                                <mat-form-field>
                                    <mat-label for="firstName">First Name</mat-label>
                                    <input id="first-name" type="text" formControlName="firstName" matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td> 
                                <mat-form-field>
                                    <mat-label for="lastName">Last Name</mat-label>
                                    <input id="last-name" type="text" formControlName="lastName" matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-label for="password">Password</mat-label>
                                    <input id="password" type="password" formControlName="password" matInput>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <div class="button-container">
                        <button type="submit">Register</button>
                        <button type="button" (click)="goBack()">Back</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

    </div>
</div>