.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5vh;
}

button {
  display: flex;
  border-radius: 25%;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  font-family: "Source Code Pro", monospace;
  font-size: medium;
  cursor: pointer;
  border: 2px solid;
  /* padding: 0.5em 0.7em; */
  position: relative;
  user-select: none;
  touch-action: manipulation;
  background-color: var(--primary-light-color);
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

button:hover {
  transform: scale(1.05) rotate(-1deg);
}

.card-container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  display: flex;
  justify-content: center;
  border: 1px solid;
  background-color: var(--primary-light-color);
  width: 100%;
  height: 100%;
}

mat-card-header {
  padding: 10px;
  width: 100%;
  justify-content: flex-start;
}

p,
mat-card-title,
mat-card-subtitle {
  font-family: "Source Code Pro", monospace;
}

.points-history-button {
  height: 33px;
}

.header-section-1 {
  padding-right: 10px;
}

.header-section-2 {
  padding: 0 10px;
}

mat-card-content {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.fish-tank {
  width: 100%;
  height: 300px;
  transform: translateZ(0);
  overflow: hidden;
}

mat-card-actions {
  padding: 3vh 0;
  display: flex;
  justify-content: center;
}

.progress-bar-header {
  padding: 10px;
}

.challenge-cb-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 100;
}

.mdc-checkbox__background {
  /* TODO: check why not working */
  background-color: var(--primary-light-color) !important;
}

.progress-bar-container {
  transform: translateY(-21px);
  z-index: 1;
}

.camera-button {
  height: 40px;
  align-items: center;
}

mat-icon {
  margin: 0;
}

.ocean-clean {
  background-image: linear-gradient(0deg, #182848, #2980b9);
}

.ocean-not-so-clean {
  background-image: linear-gradient(0deg, #182848, #5a8543);
}

.ocean-dirty {
  background-image: linear-gradient(0deg, #423c07, #b78e5c);
}
