<div class="main-container">
    <app-navbar></app-navbar>
    <div class="redemption-container">
        <div class="top-section">
            <span class="top-section-components">
                <h4>Points</h4>
                <h1>9,200</h1>
            </span>
            <span class="top-section-components">
                <h4>Amount</h4>
                <h1>$30.67</h1>
            </span>
        </div>
        <div class="bottom-section">
            <mat-card class="card">
                <mat-card-header class="card-header">
                    <!-- <mat-icon mat-card-avatar> restaurant_menu</mat-icon> -->
                    <mat-card-title>Ocean Quality</mat-card-title>
                    <mat-card-subtitle>Use reusable takeout containers to improve your ocean quality!</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Task Completion Progress:</p>
                    <!-- Progress Bar -->
                    <div class="challenge-cb-container">
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button>Redeem Points</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>